.specialties {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-md);

    .specialties__subtitle {
        margin-top: 0;
        text-align: center;
        font-weight: var(--font-weight-medium);
    }
}

.specialties__list {
    margin-top: var(--margin-lg);
}

.specialties__item {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-lg);
    padding: var(--padding-sm);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);


    .specialties__description {
        text-align: left;
        margin-top: var(--margin-sm);
    }

}
.specialties__title {
    margin-top: var(--margin-md);
    margin-bottom: 0;
}

.specialties__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .specialties__btn {
        height: max-content;
        padding: var(--padding-sm) var(--padding-lg);
        border-radius: var(--border-radius);
        background-color: var(--button-primary);
        color: var(--color-primary);
        font-weight: var(--font-weight-semibold);
        text-decoration: none;
        border: 2px solid var(--color-title);
    }

    .price {
        font-weight: var(--font-weight-bold);
        color: var(--color-accent);
        font-size: larger;
    }
}